.dropdownConteiner {
  position: relative;
  width: 400px;
  padding: 20px;
  margin-bottom: 100px;
  border: 1px solid black;
}
.btn {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: rgb(238, 215, 185);

  font-size: 18px;
  font-weight: 500;

  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75),
    -2px -2px 5px 0px rgba(0, 0, 0, 0.75);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: rgb(209, 183, 148);
  }
}
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;

  color: white;
  background-color: teal;
}
