.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.counterBtn {
  // width: 100px;
  height: 50px;
  border-radius: 8px;
  background-color: burlywood;

  font-size: 18px;
  font-weight: 500;

  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75),
    -2px -2px 5px 0px rgba(0, 0, 0, 0.75);

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75),
      -4px -4px 10px 0px rgba(0, 0, 0, 0.75);
  }
}
