.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 8px 18px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: antiquewhite;

  &.completed {
    background-color: rgba(184, 228, 184, 0.815);
  }
}

.todoCheckbox {
  width: 20px;
  height: 20px;
}

.text {
  font-size: 20px;

  .item.completed > & {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
  }
}
.delBtn {
  background-color: rgba(216, 161, 161, 0.753);
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  box-shadow: 0px 0px 10px 1px rgba(230, 183, 183, 0.75);
  &:hover,
  &:focus {
    background-color: rgb(204, 133, 133);
  }
}
